@media screen and (max-width: 1024px) {
    .blog_post {
        .post_content {
            .post_info {
                span {
                    font-size: 14px;
                    svg {
                        font-size: 14px;
                    }
                }
            }
            h3 {
                font-size: 30px;
            }
            p {
                font-size: 16px;
            }
            a {
                padding: 8px 26px;
            }
        }
    }
}
@media screen and (max-width: 425px) {
    .blog_post {
        .post_content {
            h3 {
                font-size: 25px;
            }
            p {
                font-size: 14px;
            }
            a {
                width: 100%;
                display: grid;
                text-align: center;
                padding: 6px 22px;
                font-size: 14px;
            }
        }
    }
}
@media screen and (max-width: 375px) {
    .blog_post {
        .post_content {
            .post_info {
                span {
                    font-size: 12px;
                    svg {
                        font-size: 12px;
                    }
                }
            }
            h3 {
                font-size: 20px;
            }
            p {
                font-size: 12px;
            }
            a {
                width: 100%;
                display: grid;
                text-align: center;
                padding: 6px 22px;
                font-size: 12px;
            }
        }
    }
}
