@import "../../../assets/styles/vars.scss";
.header {
    width: 100%;
    padding: 10px 0px;
    position: fixed;
    top: -60px;
    left: 0;
    box-shadow: 0px 0px 8px rgba($color: $primary_3, $alpha: 0.1);
    transition: all 0.2s ease;
    animation: header 0.5s ease forwards;
    z-index: 1000;
    &.hideShadow {
        box-shadow: none;
    }
    &.fixed {
        background-color: rgba($color: #fff, $alpha: 0.6);
        backdrop-filter: blur(8px);
    }
    .header_inner {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
        align-items: center;
        .logo {
            display: grid;
            grid-template-columns: auto auto;
            transition: all 0.2s ease;
            grid-column-gap: 5px;
            &:hover {
                opacity: 0.9;
            }
            span {
                font-size: 25px;
                color: $primary_3;
                font-weight: 700;
            }
        }
        nav {
            display: grid;
            grid-template-columns: repeat(6, auto);
            grid-column-gap: 30px;
            align-items: center;
            a {
                color: $primary_3;
                font-size: $fz_text;
                transition: all 0.2s ease;
                font-weight: 500;
                &.active {
                    color: $primary_1;
                }
                &:hover {
                    transform: translate(-2px, -2px);
                }
                &:nth-of-type(6) {
                    border: 2px solid $primary_3;
                    background-color: $primary_3;
                    color: #fff;
                    padding: 6px 30px;
                    border-radius: 4px;
                    &:hover {
                        transform: translate(0px, 0px);
                        background-color: #fff;
                        color: $primary_3;
                    }
                }
            }
        }
    }
}
// ! Media
@import "headerMedia.scss";
// ! KeyFrames
@keyframes header {
    from {
        opacity: 0;
        top: -60px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}
