// Colors
$primary_1: #49deff;
$primary_2: #49deff;
$primary_3: #191825;
$secondary_1: #4e4e4e;
$secondary_2: #dedede;
$secondary_3: #f4f4f4;
$secondary_4: #f9f9f9;
// Fz
$fz_title_1: 35px;
$fz_title_2: 25px;
$fz_title_3: 20px;
$fz_text: 18px;
